<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de personas</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}" media="screen">
</head>
<body>
    <form method="post" enctype="multipart/form-data" novalidate="">
        {% carf-token %}
        {% if form.errors %}
            <div class="alert-danger">
                <p>Hay errores en los sigientes datos ingresados, intentelo nuevamente.</p>
                {{ form.non_field_errors }}
                <ul>
                    {{% for field in form %}}
                        {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                    {% endfor %}
                </ul>
            </div>
        <h1>Persona</h1>
        <label></label> <input type="text">
        <label></label> <input type="text">
        <label></label> <input type="text">
        <label></label> <input type="text">
        <label></label> <input type="text">
        <label></label> <input type="text">
        <label></label> <input type="text">
    </form>
</body>